.darkveil-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
  z-index: -1;
  opacity: 0.8;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
